h1 {
    color: #EF6565;
    text-align: center;
    font-weight: normal;
}

.note-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note {
    background-color: #FFE5E7;
    border: 2px solid #201261;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #FF6347;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 300px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #201261;
}

button {
    color: white;
    border: none;
    border-radius: 50px;
    padding: 8px 32px;
}
