.container{
  display: flex;
}
.menu{
  border-top-right-radius: 50px;
  width: 20vw;
  height: 100vh;
  background-color: #201261;
  margin-left: 0px;
  color: white; 
}

.Principal{
  margin-left: 16px;
  width: 80vw;
  height: 100vh;
}
